// 全体
$mainColor: #FC8181;
$fontColor: #4A5568;

body {
  color: $fontColor !important;
}

.fc {
  padding: 5px;
  color: #4A5568;
}

// 20xx年xx月
.fc-toolbar-title {
  font-weight: bold;
  color: $fontColor;
}

// < >ボタン
.fc-button-primary {
  background-color: $mainColor !important;
  opacity: 1 !important;
  border: none !important;

  &active {
    background-color: $mainColor !important;
  }
}

// 今日
.fc-day-today {
  background-color: #FFF5F5 !important;
}

// 日付
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  font-size: 12px;
}

// イベント
.fc-event {
  margin: 0;

  &-title {
    font-size: 10px;
    margin-left: 3px;
  }
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-event-time{
  display : none;
}

// トップページの吹き出し
.balloon {
 position: relative;
 display: inline-block;
 margin: 1.5em 0;
 padding: 1em;
 min-width: 12em;
 max-width: 100%;
 text-align: center;
 font-size: 16px;
 background: #fff;
 border-radius: .5em;

 &:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
 }
}

// バーコード
#interactive.viewport {
  video {
    min-height: 100vh;
  }
}

// サジェスト機能
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  padding: 8px 16px;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #E2E8F0;
  background-color: #fff;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 8px 16px;
}
